html {
    scroll-behavior: smooth;
  }
  .logo img{
    width:50px;
    margin-top:5px;
    margin-left:5%;
  }
  .heroImg img{
    /* margin-top: 10px; */
    /* margin-right: -20px; */
    /* width:100% ; */
    /* margin-left: -10%; */
    width:90% ;
  }
  header{
    width: 100%;
    background-color: #30444E;
  }
  .nav-links{
    margin-left:5%;
    margin-right:auto;
    
  }
  .nav-item{
    color:white;
    font-size: 20px;
    font-weight: 500;
  }
  .jumbotron{
    background-color: #324656 !important; 
  }
  .display-4{
    margin-top: 10%px;
    margin-left:12%;
  }
  .lead{
    margin-top: 5%;
    margin-left:12%;
  }
  .display-4, .lead{
    color:white;
  }
  .img-scrn{
    margin-top:1rem;
    margin-bottom:1rem;
  }
  .img-scrn img{
    width:100%;

  }
  .img-title{
    padding-top:0.5rem;
    font-weight:bold;

  }
  .img-desc{
    padding-top:0.5rem;
  }

  .pantry, .carouselrow{
      padding:5rem;
      
    }
    .pantry-header{
      margin-bottom:1rem;
    }  
  .carouselrow{
    background-color: #000000;
    width:100%;
  }
.carousel{
  width:100%;
}
.carousel img{
  margin:0;
  padding:0;
  margin-left:0rem;
  width:60%
}
.carousel-img{
  width:30%;
  
  
}
.carousel-text{
  width:100%;
  float:left;
  color:white;
  padding-left:0rem;
}
.carousal-h4{
   margin-top:10%; 
}
ul{
  list-style-type:none;
}
  .small-btn-text {
    font-size: 12px;
  }

  .button-icon {
    padding-right: 12px;
  }
  .app-store-button {
    flex-direction: row;
    display: flex;
    width: 124px;
    align-items: center;
}
.content-title{
  margin-top:5rem;
  margin-bottom:3rem;
}

  .footer-social-link {
    list-style-type: none;
    display: flex;
    justify-content:center;
    padding-left: 0;
    margin-top:3rem;
    margin-left:-5rem;
  }
  .social-icon{
   width:50px;
   padding:10px;
  }
  .copyright{
    font-size:smaller;
    margin-top:3rem;
  }

